{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<div class="contenedor">
    <main class="fila">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section class="wrapper">
                <div class="caja-wrapper"><p class="p-wrapper">Telefono</p><img src="{% static 'img/telefono.jpg' %}" alt=""><h4>3644666666</h4></div>
                <div class="caja-wrapper"><p class="p-wrapper">Email</p><img src="{% static 'img/email.jfif' %}" alt=""><h4><a href="">Otaku minion</a></h4></div>
                <div class="caja-wrapper"><p class="p-wrapper">Direccion</p><img src="{% static 'img/direccion.png' %}" alt=""><h4>Las heras 345 - Machagai - Chaco <br> (Argentina)</h4></div>
                <div class="caja-wrapper"><p class="p-wrapper">Facebook</p><img src="{% static 'img/facebook.png' %}" alt=""><h4><a href="">Otaku minion</a></h4></div>
            </section>
        </div>
    </main>
</div>
{% endblock contenido %}