{% extends 'base.html' %}
{% load static %}







{% block contenido %}
<link rel="stylesheet" href="{% static 'css/indexx.css' %}">
<div class="contenedor">    
    <main class="fila">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="caja">    
                <div class="imagen-logo">
                    <img src="{% static 'img/tp-1.1-entrega-ac.-de-aire-1867x427.jpeg' %}" alt="">
                </div>
            </div>
        </section>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section class="imagen-fondo">
                <h3 class="letra-dona">Ayudanos a seguir ayudando</h3>
                <div id="caja-dona"><a href="http://facebook.com/oportunidadecambio/" target="_blank" class="boton-dona">Donaciones</a></div>
            </section>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section class="wrapper">
                <div><img src="{% static 'img/a.jpeg' %}" alt="" class="wrapper-imagen"></div>
                <div><img src="{% static 'img/b.jpeg' %}" alt="" class="wrapper-imagen"></div>
                <div><img src="{% static 'img/c.png' %}" alt="" class="wrapper-imagen"></div>
                <div><img src="{% static 'img/d.jpg' %}" alt="" class="wrapper-imagen"></div>
            </section>
        </div>
    </main>
</div class="fila">

{% endblock contenido %}