{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/agregar_noticia.css' %}">

<div class="contenedor">
    <div class="fila">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="cont_form">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
            
            <input class="btn-primaryy" type="submit" value="Save">
        </form>
    </div>
    </div>
    </div>    
</div>

{% endblock contenido %}

