{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/noticias.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="contenedor">
        <header class="fila">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12"><div class="image-menu">
                    <img src="{% static 'img/oportunidad-de-cambio2-121x62.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-8 col-xs-12">
                <div class="bienve">
                    {% if user.is_authenticated %}
                        <a href="*" class="letra-menu">Bienvenid@s <span style="position:absolute;margin-left:6px;"><b>{{ user.username }}</b></span></a>
                    {% else %}
                        <a href="*" class="letra-menu">Bienvenid@s</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-0 col-md-1 col-sm-0 col-xs-0"></div>
            <div class="col-lg-0 col-md-2 col-sm-0 col-xs-0"></div>
            <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><center  id="bot1"><a href="{% url 'inicio' %}" class="botones">Inicio</a></center></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><center  id="bot2"><a href="{% url 'home' %}" class="botones">Noticia</a></center></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><center  id="bot3"><a href="{% url 'contacto' %}" class="botones">Contacto</a></center></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><center  id="bot4"><a href="{% url 'nosotros' %}" class="botones">Nosotros</a></center></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><center  id="bot5">{% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Cerrar/Sesion</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="botones">Iniciar/Sesion</a>
                    {% endif %}
                    </center></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><center  id="bot6"><a href="{% url 'usuarios:registro' %}" class="botones">Registrarse</a></center></div>
            </div>
    </header>
    <main>
        <section id="caja_conte">
        {% for n in notis %}
            <article style="margin-bottom: 15px;">
                <figure>
                {% if n.imagen %}
                    <img src="{{ n.imagen.url }}" alt="" style="position: relative;margin-left: 380px;margin-top: 30px; width: 500px;
                    font-weight: 300;">
                {% else %}
                    <p>Sin imagen</p>
                {% endif %}
                </figure>
            <div>
                <h2 style="margin-left: 382px; margin-top: 5px;">Categoria: {{ n.categoria.nombre }}</h2>
                <h2 style="margin-left: 382px; margin-top: 5px;">Autor: {{ n.autor }}</h2>
                <h2 style="margin-left: 382px; margin-top: 5px;">Titulo: {{ n.titulo }}</h2>
            </div>
            </article>
            <a href="{% url 'noticias:detalle_noticias' n.pk %}" style="position: relative;margin-left: 382px;margin-top: 735px;">Ver mas</a>
        {% endfor %}
        </section>
      </main>
    </div>
        <footer><h3>© Copyright - Todos los derechos reservados</h3></footer>
</body>
</html>