{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<link rel="stylesheet" href="{% static 'css/noticias.css' %}">
<div class="contenedor">
    <main class="fila">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section id="caja_conte">
        {% for n in notis %}
            <article style="margin-bottom: 15px;">
                <figure>
                {% if n.imagen %}
                    <img src="{{ n.imagen.url }}" alt="" style="position: relative;margin-left: 380px;margin-top: 30px; width: 500px;
                    font-weight: 300;">
                {% else %}
                    <p>Sin imagen</p>
                {% endif %}
                </figure>
            <div>
                <h2 style="margin-left: 382px; margin-top: 5px;color:black;">Categoria: {{ n.categoria.nombre }}</h2>
                <h2 style="margin-left: 382px; margin-top: 5px;color:black;">Autor: {{ n.autor }}</h2>
                <h2 style="margin-left: 382px; margin-top: 5px;color:black;">Titulo: {{ n.titulo }}</h2>
            </div>
            </article>
            <a href="{% url 'noticias:detalle_noticias' n.pk %}" style="position: relative;margin-left: 382px;margin-top: 735px;color:black;text-decoration:none;">Ver mas</a>
        {% endfor %}
        </section>
        </div>
        </main>
    </div>
{% endblock contenido %}