*{
    background-color:rgb(219, 242, 245);
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

.contenedor{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
    padding: 10px;
    /* border: 1px solid black; */
    
}

/* PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) */

@media(min-width:1200px){

.col-lg-12 {width: 100%;}
.col-lg-11 {width: 91.66666667%;}
.col-lg-10 {width: 83.33333333%;}
.col-lg-9 {width: 75%;}
.col-lg-8 {width: 66.66666667%;}
.col-lg-7 {width: 58.33333333%;
    margin-top: -4px;}
.col-lg-6 {
    width: 50%;
    color: #223088;}
    p {color: #393737 ;
}
.col-lg-5 {width: 41.66666667%;}
.col-lg-4 {width: 33.33333333%;}
.col-lg-3 {width: 25%;}
.col-lg-2 {width: 16.66666667%;}
.col-lg-1 {width: 8.33333333%;}
}

/* PANTALLA ESCRITORIO MEDIANO - MEDIUM (md) */

@media(min-width:992px) and (max-width:1192px){

    .col-md-12 {width: 100%;}
    .col-md-12 #caja-dona{
        margin-left: 430px;
    }
    .col-md-11 {width: 91.66666667%;}
    .col-md-10 {width: 83.33333333%;}
    .col-md-9 {width: 75%;}
    .col-md-8 {width: 66.66666667%;}
    .col-md-7 {width: 58.33333333%;}
    .col-md-6 {width: 50%;}
    .col-md-5 {width: 41.66666667%;}
    .col-md-4 {width: 33.33333333%;}
    .col-md-3 {width: 25%;}
    .col-md-2 {width: 16.66666667%;}
    .col-md-1 {width: 8.33333333%;}
}

/* PANTALLA DE TABLE - SMALL (sm) */

@media(min-width:768px) and (max-width:991px){

    .col-sm-12 {width: 100%;}
    .col-md-12 #caja-dona{
        margin-left: 300px;
    }   
    .col-sm-11 {width: 91.66666667%;}
    .col-sm-10 {width: 83.33333333%;}
    .col-sm-9 {width: 75%;}
    .col-sm-8 {width: 66.66666667%;}
    .col-sm-7 {width: 58.33333333%;}
    .col-sm-6 {width: 50%;}
    .col-sm-5 {width: 41.66666667%;}
    .col-sm-4 {width: 33.33333333%;}
    .col-sm-3 {width: 25%;}
    .col-sm-2 {width: 16.66666667%;}
    .col-sm-2 #bot1 {
        margin-left: -16px;
    }
    .col-sm-2 #bot2 {
        margin-left: 154px;
    }
    .col-sm-2 #bot3 {
        margin-left: 177px;
    }
    .col-sm-2 #bot4 {
        margin-left: 148px;
    }
    .col-sm-2 #bot5 {
        margin-left: 156px;
    }
    .col-sm-2 #bot6 {
        margin-left: px;
    }
    .col-sm-1 {width: 8.33333333%;}
}

/* PANTALLA PHONES -  EXTRA SMALL (xs) */

@media(max-width:767px){
    
    
    
    .col-xs-12  {width: 100%;}
    .col-xs-12 .bienve{
        margin-top: 57px;
        margin-left: -145px;
    }
    .col-xs-12 .bienve > a > span{
        position: absolute;
        margin-top: 40px;
        margin-left: -144px;
    }
    .col-xs-12 #caja-dona{
        margin-left: 90px;
    }
    .col-xs-12 .letra-dona{
        font-size: 25px;
        margin-left: 0px;
    }
    .col-xs-12 .wrapper{
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        grid-auto-rows: 200px;
    }
    .col-xs-12 footer h3{
        font-size: 16px;
    }
    .col-xs-11 {width: 91.66666667%;}
    .col-xs-10 {width: 83.33333333%;}
    .col-xs-9 {width: 75%;}
    .col-xs-8 {width: 66.66666667%;}
    .col-xs-7 {width: 58.33333333%;}
    .col-xs-6 {width: 50%;}
    .col-xs-6 #bot1{
        margin-left: -12px;
    }
    .col-xs-6 #bot2{
        margin-left: 25px;
    }
    .col-xs-6 #bot3{
        margin-left: 5px;
    }
    .col-xs-6 #bot4{
        margin-left: 36px;
    }
    .col-xs-6 #bot5{
        margin-left: 9px;
    }
    .col-xs-6 #bot6{
        margin-left: 42px;
    }
    .col-xs-6 #bot7{
        margin-left: -100px;
        margin-top: -59px;
    }
    .col-xs-5 {width: 41.66666667%;}
    .col-xs-4 {width: 33.33333333%;}
    .col-xs-3 {width: 25%;}
    .col-xs-2 {width: 16.66666667%;}
    .col-xs-1 {width: 8.33333333%;}
    .col-xs-0 {display: none;}
}

header{
    border-bottom: 2px solid black;
}



.image-menu{
    width: 150px;
    padding-top: 40px;
}

.image-menu img{
    position: relative;
    margin-left: 20px;
    object-fit: cover;
}

.letra-menu{
    width: 150px;
    display: block;
    color: rgb(15, 18, 19);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 160px;
    margin-top: -40px;
}

.letra-menu:hover{
    color: rgba(34, 34, 34, 0.709);
}

.bienve{
    margin-top: 106px;
    margin-left: -220px;
    height: 35px;
}

.botones:hover{
    color: rgb(52, 71, 71);
}



#bot1 {
    position: relative;
    margin: auto;
    margin-left: 182px;
    border-radius: 50%;
}
#bot2 {
    position: relative;
    margin: auto;
    margin-left: 122px;
    border-radius: 50%;
}
#bot7 {
    position: relative;
    margin: auto;
    margin-left: 106px;
    margin-top: -6px;
    border-radius: 50%;
}
#bot3 {
    position: relative;
    margin: auto;
    margin-left: 77px;
    border-radius: 50%;
}
#bot4 {
    position: relative;
    margin: auto;
    margin-left: 42px;
    border-radius: 50%;
}
#bot5 {
    position: relative;
    margin: auto;
    margin-left: 11px;
    border-radius: 50%;
}
#bot6 {
    position: relative;
    margin: auto;
    border-radius: 50%;
}
header center{
    width: 80px;
    height: 59px;
    
}

#bot7 a {
    color: #e0a8e9;
}
header center a{
    font-size: 19px;
    color: rgb(1, 1, 1);
    line-height: 112px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
}


.cont_form {
    width: 600px;
    margin: 0px auto;
    height: 500px;
    position: center;
    border: 3px solid rgb(35, 12, 245);
    padding: 3px;
    font-size: 20px;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 100%;
    margin: 5px;
    
}

input, textarea {
    border: 1px solid rgb(99, 98, 98);
    box-shadow: 0px 0px 2px rgb(190, 207, 252) inset;
    background-color: #ccc;
    color: rgb(99, 98, 98);
}

p {
    padding: 8px;
}

input:focus, 
textarea:focus{
    border: 1px solid rgb(24, 3, 221);
    color: black;
}

.btn-primaryy {
    width: 110px;
    height: 40px;
    text-align: center;
    background-color: rgb(75, 56, 243);
    font-weight: bold;
    border: 1px solid black;
    border-radius: 4px;
    color:black;
    cursor: pointer;
}

.btn-primaryy:hover {
    box-shadow: 0px 0px 4px black;
}

.btn-primaryy:active{
    box-shadow: 0px 0px 3px gray inset;
    background-color: rgb(114, 99, 248);
}

footer{
    border-top: 1px solid black;
}
