{% extends 'base.html' %}
{% load static %}



{% block contenido %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">


<div class="container">
    <main class="row">
    <div class="col-12 col-md-12" >
    <div class="wrapper">
        <div class="logo">
                <img src="{% static 'img/oportunidad-de-cambio2-121x62.png' %}" alt="">
        </div>
        <div class="text-center mt-4 name">
            
        </div>
        <form method="post">{% csrf_token %}
            {{ form.errors }}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="">Olvido su contraseña?</a> or <a href="#">Registrarse</a>
        </div>
    </div>
    </div>
    </main>
</div>
{% endblock contenido %}



