{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/registrarse.css' %}">
<div class="contenedor">
    <div class=fila>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="form-register">
        <h4>Formulario Registro</h4>
        <form action="" method="POST">{% csrf_token %}
            {{ form.errors }}
            <input class="controls" type="text" name="first_name" id="{{" placeholder="Nombre">
            <input class="controls" type="text" name="last_name" id="{{" placeholder="Apellido">
            <input class="controls" type="text" name="username" id="{{" placeholder="Usuario">
            <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su correo">
            <input class="controls" type="password" name="password1" id="{{ " placeholder="Ingrese su Contraseña">
            <input class="controls" type="password" name="password2" id="{{ " placeholder="Confirme su Contraseña">
            <input class="botons" type="submit" value="Registrar">
            <p><a href="{% url 'login' %}">¿Ya tengo cuenta?</a></p>
        </form>
    </section>
    </div>
    </div>
</div>
{% endblock contenido %}